Do your work for this exercise in a file named model.

Take the work we did in the lessons further:
- What other types of models (i.e. different classifcation algorithms) could you use?
- How do the models prepare when trained on term frequency data alone, instead of TF-IDF values?

In [33]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer 

import acquire
import prepare

#### Acquire

In [37]:
df_fresh = pd.DataFrame(acquire.get_news_articles())
df_fresh

,title,body,catergory
0,I'll take it on the chin: Cave explorer after ...,"British cave explorer Vernon Unsworth, who los...",business
1,My faith in humanity is restored: Musk after w...,After a US jury found that Elon Musk did not d...,business
2,FIR filed against Club Factory in Lucknow for ...,A Lucknow-based customer has filed an FIR agai...,business
3,Ideas come from a small set of people around P...,Former RBI Governor Raghuram Rajan in an artic...,business
4,I want a 'New India' where Bajaj can speak fea...,Congress leader Shashi Tharoor said he wants a...,business
...,...,...,...
94,MS Dhoni to produce TV show on army officers: ...,"MS Dhoni, who holds an honorary rank of Lieute...",entertainment
95,Sushmita Sen announces her return to films aft...,Sushmita Sen on Monday took to Instagram to an...,entertainment
96,'Harry Potter' role didn't satisfy me: Actress...,English veteran actress Maggie Smith has revea...,entertainment
97,"Ranveer, Alia win Best Actor, Best Actress at ...",Ranveer Singh and Alia Bhatt won the Best Acto...,entertainment
98,We shouldn't be allowed to take life: Waheeda ...,After the police killed all four men accused o...,entertainment

#### Prepare

In [38]:
prepare.prep_article(df_fresh)

,title,catergory,original,stemmed,lemmatized,clean
0,I'll take it on the chin: Cave explorer after ...,business,"British cave explorer Vernon Unsworth, who los...",british cave explor vernon unsworth who lost t...,british cave explorer vernon unsworth who lost...,british cave explorer vernon unsworth lost def...
1,My faith in humanity is restored: Musk after w...,business,After a US jury found that Elon Musk did not d...,after a us juri found that elon musk did not d...,after a u jury found that elon musk did not de...,us jury found elon musk defame british cave ex...
2,FIR filed against Club Factory in Lucknow for ...,business,A Lucknow-based customer has filed an FIR agai...,a lucknowbas custom ha file an fir against chi...,a lucknowbased customer ha filed an fir agains...,lucknowbased customer filed fir chinese ecomme...
3,Ideas come from a small set of people around P...,business,Former RBI Governor Raghuram Rajan in an artic...,former rbi governor raghuram rajan in an artic...,former rbi governor raghuram rajan in an artic...,former rbi governor raghuram rajan article ind...
4,I want a 'New India' where Bajaj can speak fea...,business,Congress leader Shashi Tharoor said he wants a...,congress leader shashi tharoor said he want a ...,congress leader shashi tharoor said he want a ...,congress leader shashi tharoor said wants ' ne...
...,...,...,...,...,...,...
94,MS Dhoni to produce TV show on army officers: ...,entertainment,"MS Dhoni, who holds an honorary rank of Lieute...",ms dhoni who hold an honorari rank of lieuten ...,m dhoni who hold an honorary rank of lieutenan...,ms dhoni holds honorary rank lieutenant colone...
95,Sushmita Sen announces her return to films aft...,entertainment,Sushmita Sen on Monday took to Instagram to an...,sushmita sen on monday took to instagram to an...,sushmita sen on monday took to instagram to an...,sushmita sen monday took instagram announce re...
96,'Harry Potter' role didn't satisfy me: Actress...,entertainment,English veteran actress Maggie Smith has revea...,english veteran actress maggi smith ha reveal ...,english veteran actress maggie smith ha reveal...,english veteran actress maggie smith revealed ...
97,"Ranveer, Alia win Best Actor, Best Actress at ...",entertainment,Ranveer Singh and Alia Bhatt won the Best Acto...,ranveer singh and alia bhatt won the best acto...,ranveer singh and alia bhatt won the best acto...,ranveer singh alia bhatt best actor popular be...
98,We shouldn't be allowed to take life: Waheeda ...,entertainment,After the police killed all four men accused o...,after the polic kill all four men accus of rap...,after the police killed all four men accused o...,police killed four men accused raping murderin...

In [39]:
df = df_fresh[["catercategory", "clean"]]
df

        catergory                                              clean
0        business  british cave explorer vernon unsworth lost def...
1        business  us jury found elon musk defame british cave ex...
2        business  lucknowbased customer filed fir chinese ecomme...
3        business  former rbi governor raghuram rajan article ind...
4        business  congress leader shashi tharoor said wants ' ne...
..            ...                                                ...
94  entertainment  ms dhoni holds honorary rank lieutenant colone...
95  entertainment  sushmita sen monday took instagram announce re...
96  entertainment  english veteran actress maggie smith revealed ...
97  entertainment  ranveer singh alia bhatt best actor popular be...
98  entertainment  police killed four men accused raping murderin...

[99 rows x 2 columns]

#### Explore

In [41]:
df.catergory.value_counts(normalize=True)

entertainment    0.252525
technology       0.252525
sports           0.252525
business         0.242424
Name: catergory, dtype: float64

In [42]:
pd.concat(
    [df.category.value_counts(), df.category.value_counts(normalize=True)], axis=1
).set_axis(["n", "percent"], axis=1, inplace=False)

AttributeError: 'DataFrame' object has no attribute 'category'