In [703]:
import re
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [649]:
def is_vowel(letter):
    vowel_re = r'^[aeiouAEIOU]$' # write your regex here
    return bool(re.search(vowel_re, letter))

is_vowel('a'), is_vowel('b'), is_vowel('e'), is_vowel('de')

(True, False, True, False)

Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.


- is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False

- is_valid_username('codeup')
True

- is_valid_username('Codeup')
False

- is_valid_username('codeup123')
True

-  is_valid_username('1codeup')
False

In [652]:
def is_valid_username(username):
    username_re = r'^[a-z][a-z0-9_]{,31}$' # write your regex here
    return bool(re.search(username_re, username))

usernames = ['aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', 'codeup', 'Codeup', 'codeup123', '1codeup']
print('is_valid_username | username')
print('----------------- | --------')
for username in usernames:
    print('%17s | %s' % (is_valid_username(username), username))

is_valid_username | username
----------------- | --------
            False | aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
             True | codeup
            False | Codeup
             True | codeup123
            False | 1codeup

Write a regular expression to capture phone numbers. It should match all of the following:

- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [664]:
phone_numbers = pd.Series([
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
])

phone_number_re = re.compile(r'''
^
(\+\d+)?
\D*?
(\d{3})?
\D*?
(\d{3})
\D*?
(\d{4})
$
''',re.VERBOSE)


pd.DataFrame({
    'phone_number': phone_numbers,
    'regexp_matches': phone_numbers.str.match(phone_number_re)
})

      phone_number  regexp_matches
0   (210) 867 5309            True
1  +1 210.867.5309            True
2         867-5309            True
3     210-867-5309            True

Use regular expressions to convert the dates below to the standardized year-month-day format.
- 02/04/19
- 02/05/19
- 02/06/19
- 02/07/19
- 02/08/19
- 02/09/19
- 02/10/19

In [665]:
dates = pd.Series([
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19',
])

# hint: use dates.str.replace and capture groups
dates.str.replace(r'(\d{2}).(\d{2}).(\d{2})', r'20\3-\1-\2')

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

In [667]:
def format_phone_number(m):
    return '20' + m.group('year') + '-' + m.group('month') + '-' + m.group('day')

dates.str.replace(r'(?P<month>\d+)/(?P<day>\d+)/(?P<year>\d+)', format_phone_number)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

Write a regex to extract the various parts of these logfile lines:
- GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
- POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
- GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [339]:
lines = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58',
])

In [487]:
logs = lines.str.extract(r'^([A-Z]+)\s(\W\w+\W\w+\W\w+)\??(page\W\d+)?\s.(\d+)/(\w+)/(\d+):(\d+\+\d+).\s(\w+/\d.\d)\s{(\d+)}\s(\d+)\s"(.+)"\s(\d+.\d+.\d+.\d+)')
logs.columns = ["method","path","page", "day","month","year","time","protocol","status","bytes","agent","ip"]
logs

,method,path,page,day,month,year,time,protocol,status,bytes,agent,ip
0,GET,/api/v1/sales,page=86,16,Apr,2019,193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,NaN,16,Apr,2019,193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items,page=3,16,Apr,2019,193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

How many words have at least 3 vowels?
How many words have at least 3 vowels in a row?
How many words have at least 4 consonants in a row?
How many words start and end with the same letter?
How many words start and end with a vowel?
How many words contain the same letter 3 times in a row?
What other interesting patterns in words can you find?

In [690]:
words = pd.read_csv('/usr/share/dict/words', header=None).iloc[:, 0].dropna().str.lower()
words

0                  a
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        zythia
235883        zythum
235884       zyzomys
235885    zyzzogeton
Name: 0, Length: 235884, dtype: object

#### How many words have at least 3 vowels?

In [697]:
(words.str.count(r'[aeiou]') >= 3).sum()

191365

#### How many words have at least 3 vowels in a row?

In [698]:
words.str.contains(r'[aeiou]{3}').sum()

6182

#### How many words have at least 4 consonants in a row?

In [699]:
words.str.lower().str.contains(r'[^aeiou]{4}').sum()

19241

In [700]:
words[words.str.lower().str.contains(r'[^aeiou]{4}')].sample(8)

204390            tonishly
212936    uncompromisingly
61921      endolymphangial
163298              raptly
165729          refusingly
208402         truculently
12730               archly
196693         synchronize
Name: 0, dtype: object

#### How many words start and end with the same letter?

In [704]:
words.str.contains(r'^(.).*\1$').sum()

11452

#### How many words start and end with a vowel?

In [695]:
words.str.contains(r'^[aeiou].*[aeiou]$').sum()

14657

#### How many words contain the same letter 3 times in a row?

In [713]:
words.str.contains(r'(.)\1\1').sum()

7

In [715]:
words[words.str.contains(r'(.)\1\1')]

24988             bossship
50636      demigoddessship
78498          goddessship
82997     headmistressship
140481       patronessship
230262            wallless
231688           whenceeer
Name: 0, dtype: object

#### How many words contain two sets of the same two letters repeated?

In [718]:
words.str.contains(r'((.)\2).*\1').sum()

792

In [719]:
words[words.str.contains(r'((.)\2).*\1')]

895        accessariness
906           accessless
909        accessoriness
2688      admissibleness
3879         agelessness
               ...
234557       yellowbelly
234559        yellowbill
234834     youthlessness
235076      zeallessness
235683            zoozoo
Name: 0, Length: 792, dtype: object

#### What other interesting patterns in words can you find?