In [8]:
import pandas as pd
import numpy as np

import pyspark

Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

In [103]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [104]:
def get_spark_df():
    pandas_dataframe = pd.DataFrame(
        {
            "n": np.random.randn(20),
            "group": np.random.choice(list("xyz"), 20),
            "abool": np.random.choice([True, False], 20),
        }
    )
    return spark.createDataFrame(pandas_dataframe)

### Spark Dataframe Basics

Use the starter code above to create a pandas dataframe.

In [11]:
pandas_dataframe.head()

          n group  abool
0 -0.712391     z  False
1  0.753766     x  False
2 -0.044503     z  False
3  0.451812     y  False
4  1.345102     z  False

Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

In [19]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [21]:
df = spark.createDataFrame(pandas_dataframe)

Show the first 3 rows of the dataframe.

In [23]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [92]:
df.show(3,vertical=True)

-RECORD 0---------------------
 n     | -0.712390662050588
 group | z
 abool | false
-RECORD 1---------------------
 n     | 0.753766378659703
 group | x
 abool | false
-RECORD 2---------------------
 n     | -0.04450307833805...
 group | z
 abool | false
only showing top 3 rows

Show the first 7 rows of the dataframe.

In [25]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

View a summary of the data using .describe.

In [27]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [29]:
df.select('n','abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.

In [31]:
df.select('group','abool').show()

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
|    y|false|
|    z|false|
|    x|false|
|    z| true|
|    y| true|
|    x|false|
|    y|false|
|    y| true|
|    y| true|
|    y|false|
|    x|false|
|    z|false|
|    y| true|
|    x|false|
|    x| true|
+-----+-----+

Use .select to create a naew dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [39]:
df.select('group',df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [41]:
df.select('group',df.n.alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

### Column Manipulation

Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df

In [42]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [47]:
df = spark.createDataFrame(pandas_dataframe)

In [49]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

Use .select to add 4 to the n column. Show the results.

In [54]:
df.select(df.n+4).show()

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
| 4.532337888294546|
| 5.350187899722527|
|  4.86121137416932|
| 5.478685737435897|
| 2.954622869461466|
|3.2110109750484512|
| 2.738394054680931|
| 4.562846785281032|
|3.7566737481144377|
| 4.913740704859677|
| 4.317350922736336|
| 4.127303280206981|
| 6.150382967381113|
| 4.606288656896298|
|3.9732283500135592|
+------------------+

Subtract 5 from the n column and view the results.

In [56]:
df.select(df.n-5).show()

+-------------------+
|            (n - 5)|
+-------------------+
| -5.712390662050588|
| -4.246233621340297|
| -5.044503078338053|
|  -4.54818766125421|
|-3.6548982915489905|
| -4.467662111705454|
|-3.6498121002774733|
|  -4.13878862583068|
| -3.521314262564103|
| -6.045377130538534|
| -5.788989024951549|
| -6.261605945319069|
| -4.437153214718968|
| -5.243326251885563|
| -4.086259295140323|
| -4.682649077263664|
| -4.872696719793019|
|-2.8496170326188874|
| -4.393711343103702|
| -5.026771649986441|
+-------------------+

Multiply the n column by 2. View the results along with the original numbers.

In [60]:
df.select(df.n, df.n*2).show()

+--------------------+--------------------+
|                   n|             (n * 2)|
+--------------------+--------------------+
|  -0.712390662050588|  -1.424781324101176|
|   0.753766378659703|   1.507532757319406|
|-0.04450307833805...|-0.08900615667610691|
| 0.45181233874578974|  0.9036246774915795|
|  1.3451017084510097|  2.6902034169020195|
|  0.5323378882945463|  1.0646757765890926|
|  1.3501878997225267|  2.7003757994450535|
|  0.8612113741693206|  1.7224227483386412|
|  1.4786857374358966|   2.957371474871793|
| -1.0453771305385342| -2.0907542610770684|
| -0.7889890249515489| -1.5779780499030978|
|  -1.261605945319069|  -2.523211890638138|
|  0.5628467852810314|  1.1256935705620628|
|-0.24332625188556253|-0.48665250377112507|
|  0.9137407048596775|   1.827481409719355|
| 0.31735092273633597|  0.6347018454726719|
| 0.12730328020698067| 0.25460656041396135|
|  2.1503829673811126|   4.300765934762225|
|  0.6062886568962988|  1.2125773137925977|
|-0.02677164998644...|-0.05354329997288145|
+--------------------+--------------------+

Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [84]:
df.select(df.n, (df.n*-1).alias("n2")).show(4)

+--------------------+--------------------+
|                   n|                  n2|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
+--------------------+--------------------+
only showing top 4 rows

Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [91]:
df.select(df.n, (df.n*-1).alias("n2"), ((df.n*-1)**2).alias("n3")).show(4)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|-0.45181233874578974| 0.20413438944294027|
+--------------------+--------------------+--------------------+
only showing top 4 rows

What happens when you run the code below?

df.group + df.abool

In [95]:
df.group + df.abool

Column<b'(group + abool)'>

What happens when you run the code below? What is the difference between this and the previous code sample?

df.select(df.group + df.abool)

In [99]:
# df.select(df.group + df.abool)

Try adding various other columns together. What are the results of combining the different data types?

In [102]:
df.select(df.group + df.n).show()

+-----------+
|(group + n)|
+-----------+
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
|       null|
+-----------+

### Spark SQL

Use the starter code above to re-create a spark dataframe.

In [117]:
df = get_spark_df()

Turn your dataframe into a table that can be queried with spark SQL. Name the table my_df. Answer the rest of the questions in this section with a spark sql query (spark.sql) against my_df. After each step, view the first 7 records from the dataframe.

In [118]:
df.createOrReplaceTempView("my_df")

Write a query that shows all of the columns from your dataframe.

In [120]:
spark.sql("""
    SELECT *
    from my_df
    """).show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.3650517980270081|    x|false|
|-0.04520588860236072|    y|false|
| -1.7385178655572635|    y| true|
|  0.5704933453211514|    z| true|
|  0.4349760219816502|    x| true|
|  0.7588944642911625|    y|false|
| -0.9738381295272108|    y|false|
+--------------------+-----+-----+
only showing top 7 rows

Write a query that shows just the n and abool columns from the dataframe.

In [122]:
spark.sql("""
    SELECT n, abool
    from my_df
    """).show(7)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  0.3650517980270081|false|
|-0.04520588860236072|false|
| -1.7385178655572635| true|
|  0.5704933453211514| true|
|  0.4349760219816502| true|
|  0.7588944642911625|false|
| -0.9738381295272108|false|
+--------------------+-----+
only showing top 7 rows

Write a query that shows just the n and group columns. Rename the group column to g.

In [126]:
spark.sql("""
    SELECT n, group as g
    from my_df
    """).show(7)

+--------------------+---+
|                   n|  g|
+--------------------+---+
|  0.3650517980270081|  x|
|-0.04520588860236072|  y|
| -1.7385178655572635|  y|
|  0.5704933453211514|  z|
|  0.4349760219816502|  x|
|  0.7588944642911625|  y|
| -0.9738381295272108|  y|
+--------------------+---+
only showing top 7 rows

Write a query that selects n, and creates two new columns: n2, the original n values halved, and n3: the original n values minus 1.

In [131]:
spark.sql("""
    SELECT n, n/2 as n2, n-1 as n3
    from my_df""").show(7)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  0.3650517980270081| 0.18252589901350405|  -0.634948201972992|
|-0.04520588860236072|-0.02260294430118036| -1.0452058886023607|
| -1.7385178655572635| -0.8692589327786318| -2.7385178655572635|
|  0.5704933453211514|  0.2852466726605757|-0.42950665467884863|
|  0.4349760219816502|  0.2174880109908251| -0.5650239780183498|
|  0.7588944642911625| 0.37944723214558124|-0.24110553570883753|
| -0.9738381295272108| -0.4869190647636054|  -1.973838129527211|
+--------------------+--------------------+--------------------+
only showing top 7 rows

What happens if you make a SQL syntax error in your query?

In [136]:
# spark.sql("""
#     SELECT n, n/2 as n2, n-1 as n3,
#     from my_df""").show(7)

> a java error!

### Type casting

Use the starter code above to re-create a spark dataframe.

In [138]:
df = get_spark_df()

Use .printSchema to view the datatypes in your dataframe.

In [140]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

Use .dtypes to view the datatypes in your dataframe.

In [142]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

What is the difference between the two code samples below?

df.abool.cast('int')

df.select(df.abool.cast('int')).show()

In [145]:
df.abool.cast('int')

Column<b'CAST(abool AS INT)'>

In [153]:
df.select(df.abool.cast('int')).show(5)

+-----+
|abool|
+-----+
|    1|
|    0|
|    1|
|    0|
|    0|
+-----+
only showing top 5 rows

> one says literally the command, the other actually does it

Use .select and .cast to convert the abool column to an integer type. View the results.

In [170]:
df.select(df.abool, df.abool.cast('int')).show(5)

+-----+-----+
|abool|abool|
+-----+-----+
| true|    1|
|false|    0|
| true|    1|
|false|    0|
|false|    0|
+-----+-----+
only showing top 5 rows

Convert the group column to a integer data type and view the results. What happens?

In [169]:
df.select(df.group,df.group.cast('int')).show(7)

+-----+-----+
|group|group|
+-----+-----+
|    x| null|
|    x| null|
|    x| null|
|    x| null|
|    z| null|
|    x| null|
|    y| null|
+-----+-----+
only showing top 7 rows

> letters aren't converted to ints. changed to nulls.

Convert the n column to a integer data type and view the results. What happens?

In [173]:
 df.select(df.n, df.n.cast('int')).show()

+--------------------+---+
|                   n|  n|
+--------------------+---+
|  0.6129550677145995|  0|
| 0.23966318182680454|  0|
| -1.5120214739877849| -1|
|  0.4446977161029871|  0|
|  0.2532205247585785|  0|
|  0.9407870683897978|  0|
| 0.41730231988738953|  0|
| 0.26955855330903167|  0|
|  0.1687210624313978|  0|
| -1.4889501692875957| -1|
| -1.8552666603782968| -1|
|-0.11032172211623395|  0|
| -0.7046047621786199|  0|
|  0.4553185270261121|  0|
|  -1.220671903715444| -1|
|  -0.565046518309226|  0|
|  0.7061888116045445|  0|
|0.005043898069076926|  0|
| -0.8732591793851744|  0|
|  0.5560180812944249|  0|
+--------------------+---+

> it appears to round down

Convert the abool column to a string data type and view the results. What happens?

In [177]:
df.select(df.abool,df.abool.cast('string')).show(5)

+-----+-----+
|abool|abool|
+-----+-----+
| true| true|
|false|false|
| true| true|
|false|false|
|false|false|
+-----+-----+
only showing top 5 rows

In [178]:
df.select(df.abool,df.abool.cast('string')).dtypes

[('abool', 'boolean'), ('abool', 'string')]

> looks the same. the datatype of the second column is string tho

### Built-in Functions

Use the starter code above to re-create a spark dataframe.

In [179]:
df = get_spark_df()

Import the necessary functions from pyspark.sql.functions

In [222]:
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean, lit, round

In [ ]:
# from pyspark.sql.functions as F

Find the highest n value.

In [183]:
df.select(max(df.n)).show()

+-----------------+
|           max(n)|
+-----------------+
|2.233371389540196|
+-----------------+

Find the lowest n value.

In [185]:
df.select(min(df.n)).show()

+-----------------+
|           min(n)|
+-----------------+
|-1.65015730453314|
+-----------------+

Find the average n value.

In [188]:
df.select(avg(df.n)).show()

+------------------+
|            avg(n)|
+------------------+
|0.1456952492563032|
+------------------+

Use concat to change the group column to say, e.g. "Group: x" or "Group: y"

In [192]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

In [223]:
df.select(concat(lit('Group: '), df.group, df.n)).show(5)

+-------------------------+
|concat(Group: , group, n)|
+-------------------------+
|     Group: x0.6180724...|
|     Group: y1.5595634...|
|     Group: x0.0884890...|
|     Group: z0.4273262...|
|     Group: y-1.650157...|
+-------------------------+
only showing top 5 rows

Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

In [232]:
df.select(concat(df.group, lit(': '), round(df.n,4))).show(5)

+------------------------------+
|concat(group, : , round(n, 4))|
+------------------------------+
|                     x: 0.6181|
|                     y: 1.5596|
|                     x: 0.0885|
|                     z: 0.4273|
|                    y: -1.6502|
+------------------------------+
only showing top 5 rows

In [233]:
# brings back python function
__builtins__.min

### Filter / Where

Use the starter code above to re-create a spark dataframe.

In [256]:
df = get_spark_df()

In [257]:
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -2.189255677256909|    x| true|
|  0.7792879642830198|    z| true|
|  1.7713213340300555|    z| true|
| 0.25342639179802234|    y|false|
|  1.2815245408626927|    z| true|
| -0.5688468753615556|    y| true|
| 0.38815246633294165|    x|false|
|  1.0756401379960592|    z|false|
| -0.8221570432271401|    x| true|
|0.015754043296743934|    y| true|
| 0.25520720692482063|    z|false|
| -1.9621359046947628|    z| true|
|   -2.39711796122652|    z| true|
| 0.23205347766906897|    z|false|
|-0.38184026655704945|    y|false|
| -0.6025177495170069|    z| true|
|-0.27840752015171905|    x| true|
| 0.20455949170327647|    x| true|
|  1.2997907260799548|    x| true|
|-0.37511470030507577|    y| true|
+--------------------+-----+-----+

Use .filter or .where to select just the rows where the group is y and view the results.

In [265]:
df.where(df.group == 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.25342639179802234|    y|false|
| -0.5688468753615556|    y| true|
|0.015754043296743934|    y| true|
|-0.38184026655704945|    y|false|
|-0.37511470030507577|    y| true|
+--------------------+-----+-----+

In [266]:
df.filter(df.group == 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.25342639179802234|    y|false|
| -0.5688468753615556|    y| true|
|0.015754043296743934|    y| true|
|-0.38184026655704945|    y|false|
|-0.37511470030507577|    y| true|
+--------------------+-----+-----+

Select just the columns where the abool column is false and view the results.

In [269]:
df.where(df.abool == 'false').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.25342639179802234|    y|false|
| 0.38815246633294165|    x|false|
|  1.0756401379960592|    z|false|
| 0.25520720692482063|    z|false|
| 0.23205347766906897|    z|false|
|-0.38184026655704945|    y|false|
+--------------------+-----+-----+

Find the columns where the group column is not y.

In [273]:
df.where(df.group != 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -2.189255677256909|    x| true|
|  0.7792879642830198|    z| true|
|  1.7713213340300555|    z| true|
|  1.2815245408626927|    z| true|
| 0.38815246633294165|    x|false|
|  1.0756401379960592|    z|false|
| -0.8221570432271401|    x| true|
| 0.25520720692482063|    z|false|
| -1.9621359046947628|    z| true|
|   -2.39711796122652|    z| true|
| 0.23205347766906897|    z|false|
| -0.6025177495170069|    z| true|
|-0.27840752015171905|    x| true|
| 0.20455949170327647|    x| true|
|  1.2997907260799548|    x| true|
+--------------------+-----+-----+

Find the columns where n is positive.

In [275]:
df.filter(df.n > 0).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.7792879642830198|    z| true|
|  1.7713213340300555|    z| true|
| 0.25342639179802234|    y|false|
|  1.2815245408626927|    z| true|
| 0.38815246633294165|    x|false|
|  1.0756401379960592|    z|false|
|0.015754043296743934|    y| true|
| 0.25520720692482063|    z|false|
| 0.23205347766906897|    z|false|
| 0.20455949170327647|    x| true|
|  1.2997907260799548|    x| true|
+--------------------+-----+-----+

Find the columns where abool is true and the group column is z.

In [279]:
df.where((df.abool == True) & (df.group == 'z')).show()

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
| 0.7792879642830198|    z| true|
| 1.7713213340300555|    z| true|
| 1.2815245408626927|    z| true|
|-1.9621359046947628|    z| true|
|  -2.39711796122652|    z| true|
|-0.6025177495170069|    z| true|
+-------------------+-----+-----+

Find the columns where abool is true or the group column is z.

In [282]:
df.where((df.abool == True) | (df.group == 'z')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -2.189255677256909|    x| true|
|  0.7792879642830198|    z| true|
|  1.7713213340300555|    z| true|
|  1.2815245408626927|    z| true|
| -0.5688468753615556|    y| true|
|  1.0756401379960592|    z|false|
| -0.8221570432271401|    x| true|
|0.015754043296743934|    y| true|
| 0.25520720692482063|    z|false|
| -1.9621359046947628|    z| true|
|   -2.39711796122652|    z| true|
| 0.23205347766906897|    z|false|
| -0.6025177495170069|    z| true|
|-0.27840752015171905|    x| true|
| 0.20455949170327647|    x| true|
|  1.2997907260799548|    x| true|
|-0.37511470030507577|    y| true|
+--------------------+-----+-----+

Find the columns where abool is false and n is less than 1

In [292]:
df.where((df.abool == False) & (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.25342639179802234|    y|false|
| 0.38815246633294165|    x|false|
| 0.25520720692482063|    z|false|
| 0.23205347766906897|    z|false|
|-0.38184026655704945|    y|false|
+--------------------+-----+-----+

Find the columns where abool is false or n is less than 1

In [295]:
df.where((df.abool == False) | (df.n <  1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -2.189255677256909|    x| true|
|  0.7792879642830198|    z| true|
| 0.25342639179802234|    y|false|
| -0.5688468753615556|    y| true|
| 0.38815246633294165|    x|false|
|  1.0756401379960592|    z|false|
| -0.8221570432271401|    x| true|
|0.015754043296743934|    y| true|
| 0.25520720692482063|    z|false|
| -1.9621359046947628|    z| true|
|   -2.39711796122652|    z| true|
| 0.23205347766906897|    z|false|
|-0.38184026655704945|    y|false|
| -0.6025177495170069|    z| true|
|-0.27840752015171905|    x| true|
| 0.20455949170327647|    x| true|
|-0.37511470030507577|    y| true|
+--------------------+-----+-----+

### When / Otherwise

Use the starter code above to re-create a spark dataframe.

In [235]:
df = get_spark_df()

In [237]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|-0.15194848359398466|    x|false|
|  1.9731862809841352|    y| true|
| -0.3657236961117782|    z| true|
| -2.1173045970394284|    x|false|
|-0.06732117041815606|    z| true|
+--------------------+-----+-----+
only showing top 5 rows

Use when and .otherwise to create a column that contains the text "It is true" when abool is true and "It is false"" when abool is false.

In [240]:
from pyspark.sql.functions import when

In [247]:
df.select(
    when(df.abool == True, 'it is true').otherwise('it is false').alias('abool sentence')
).show(7)

+--------------+
|abool sentence|
+--------------+
|   it is false|
|    it is true|
|    it is true|
|   it is false|
|    it is true|
|    it is true|
|    it is true|
+--------------+
only showing top 7 rows

Create a column that contains 0 if n is less than 0, otherwise, the original n value.

In [252]:
df.select(
    when(df.n < 0, '0').otherwise(df.n)

).show(10)

+-----------------------------------+
|CASE WHEN (n < 0) THEN 0 ELSE n END|
+-----------------------------------+
|                                  0|
|                 1.9731862809841352|
|                                  0|
|                                  0|
|                                  0|
|                                  0|
|                   1.66432362653223|
|                0.12115933901547443|
|                                  0|
|                                  0|
+-----------------------------------+
only showing top 10 rows

### Sorting

Use the starter code above to re-create a spark dataframe.

In [296]:
df = get_spark_df()

In [297]:
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|-0.00823757039535...|    y| true|
| -0.3205675975456409|    z| true|
| 0.24874568866256042|    x|false|
| -0.2767424867751073|    z| true|
| -0.9287025943255013|    x|false|
| 0.12465485894782875|    z|false|
|  -1.519601776293713|    z| true|
|  0.6695084349145038|    y| true|
|  0.9898112579100314|    y| true|
|  0.8909152648111035|    x| true|
| -1.3646453420180849|    y|false|
|-0.12288954839993375|    y|false|
|  0.8662962472055104|    z| true|
| 0.24721795304539568|    z| true|
|  0.3338773158710832|    y|false|
| 0.17317461742077497|    x| true|
|  0.8239534920839428|    z|false|
|-0.12455338515492656|    x| true|
| -1.5923311691930744|    y| true|
| 0.32353471469164996|    z|false|
+--------------------+-----+-----+

Sort by the n value.

In [300]:
df.sort(df.n).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -1.5923311691930744|    y| true|
|  -1.519601776293713|    z| true|
| -1.3646453420180849|    y|false|
| -0.9287025943255013|    x|false|
| -0.3205675975456409|    z| true|
| -0.2767424867751073|    z| true|
|-0.12455338515492656|    x| true|
|-0.12288954839993375|    y|false|
|-0.00823757039535...|    y| true|
| 0.12465485894782875|    z|false|
| 0.17317461742077497|    x| true|
| 0.24721795304539568|    z| true|
| 0.24874568866256042|    x|false|
| 0.32353471469164996|    z|false|
|  0.3338773158710832|    y|false|
|  0.6695084349145038|    y| true|
|  0.8239534920839428|    z|false|
|  0.8662962472055104|    z| true|
|  0.8909152648111035|    x| true|
|  0.9898112579100314|    y| true|
+--------------------+-----+-----+

Sort by the group value, both ascending and descending.

In [306]:
from pyspark.sql.functions import asc, desc

In [309]:
df.sort(df.group).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.8909152648111035|    x| true|
| 0.17317461742077497|    x| true|
|-0.12455338515492656|    x| true|
| 0.24874568866256042|    x|false|
| -0.9287025943255013|    x|false|
|  0.6695084349145038|    y| true|
| -1.3646453420180849|    y|false|
|  0.3338773158710832|    y|false|
| -1.5923311691930744|    y| true|
|  0.9898112579100314|    y| true|
|-0.12288954839993375|    y|false|
|-0.00823757039535...|    y| true|
|  0.8662962472055104|    z| true|
| 0.24721795304539568|    z| true|
| 0.12465485894782875|    z|false|
| -0.3205675975456409|    z| true|
|  0.8239534920839428|    z|false|
| 0.32353471469164996|    z|false|
|  -1.519601776293713|    z| true|
| -0.2767424867751073|    z| true|
+--------------------+-----+-----+

In [310]:
df.sort(df.group.desc()).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.32353471469164996|    z|false|
| -0.3205675975456409|    z| true|
|  0.8662962472055104|    z| true|
| 0.24721795304539568|    z| true|
|  0.8239534920839428|    z|false|
| -0.2767424867751073|    z| true|
| 0.12465485894782875|    z|false|
|  -1.519601776293713|    z| true|
|-0.00823757039535...|    y| true|
|-0.12288954839993375|    y|false|
|  0.6695084349145038|    y| true|
| -1.5923311691930744|    y| true|
| -1.3646453420180849|    y|false|
|  0.3338773158710832|    y|false|
|  0.9898112579100314|    y| true|
| 0.24874568866256042|    x|false|
| -0.9287025943255013|    x|false|
| 0.17317461742077497|    x| true|
|  0.8909152648111035|    x| true|
|-0.12455338515492656|    x| true|
+--------------------+-----+-----+

Sort by the group value first, then, within each group, sort by n value.

In [313]:
df.sort('group', 'n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.9287025943255013|    x|false|
|-0.12455338515492656|    x| true|
| 0.17317461742077497|    x| true|
| 0.24874568866256042|    x|false|
|  0.8909152648111035|    x| true|
| -1.5923311691930744|    y| true|
| -1.3646453420180849|    y|false|
|-0.12288954839993375|    y|false|
|-0.00823757039535...|    y| true|
|  0.3338773158710832|    y|false|
|  0.6695084349145038|    y| true|
|  0.9898112579100314|    y| true|
|  -1.519601776293713|    z| true|
| -0.3205675975456409|    z| true|
| -0.2767424867751073|    z| true|
| 0.12465485894782875|    z|false|
| 0.24721795304539568|    z| true|
| 0.32353471469164996|    z|false|
|  0.8239534920839428|    z|false|
|  0.8662962472055104|    z| true|
+--------------------+-----+-----+

Sort by abool, group, and n. Does it matter in what order you specify the columns when sorting?

In [314]:
df.sort('abool', 'group', 'n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.9287025943255013|    x|false|
| 0.24874568866256042|    x|false|
| -1.3646453420180849|    y|false|
|-0.12288954839993375|    y|false|
|  0.3338773158710832|    y|false|
| 0.12465485894782875|    z|false|
| 0.32353471469164996|    z|false|
|  0.8239534920839428|    z|false|
|-0.12455338515492656|    x| true|
| 0.17317461742077497|    x| true|
|  0.8909152648111035|    x| true|
| -1.5923311691930744|    y| true|
|-0.00823757039535...|    y| true|
|  0.6695084349145038|    y| true|
|  0.9898112579100314|    y| true|
|  -1.519601776293713|    z| true|
| -0.3205675975456409|    z| true|
| -0.2767424867751073|    z| true|
| 0.24721795304539568|    z| true|
|  0.8662962472055104|    z| true|
+--------------------+-----+-----+

### Aggregating

What is the average n value for each group in the group column?

In [320]:
from pyspark.sql.functions import avg

In [326]:
df.groupby('group').agg(mean('n')).show()

+-----+--------------------+
|group|              avg(n)|
+-----+--------------------+
|    x| 0.05191591828280221|
|    z|0.033593175669983266|
|    y|-0.15641523161583284|
+-----+--------------------+

What is the maximum n value for each group in the group column?

What is the minimum n value by abool?

What is the average n value for each unique combination of the group and abool column?

### Explain

### Joins