Copy the data below and save it as bayes.json

{
    "Floor": 6,
    "Instructors": [
        {"name": "Ryan", "favoriteLanguages": ["python", "clojure"]},
        {"name": "Maggie", "favoriteLanguages": ["python", "R", "java"]},
        {"name": "David", "favoriteLanguages": ["python", "matlab"]},
        {"name": "Zach", "favoriteLanguages": ["python", "bash"]}
    ],
    "Location": "Blanco",
    "Students": [
        {"name": "Sally", "examGrades": [62, 85, 80]},
        {"name": "Jane", "examGrades": [88, 79, 67]},
        {"name": "Suzie", "examGrades": [94, 74, 95]},
        {"name": "Billy", "examGrades": [98, 96, 88]},
        {"name": "Ada", "examGrades": [77, 92, 98]},
        {"name": "John", "examGrades": [79, 76, 93]},
        {"name": "Thomas", "examGrades": [82, 64, 81]},
        {"name": "Marie", "examGrades": [93, 63, 90]},
        {"name": "Albert", "examGrades": [92, 62, 87]},
        {"name": "Richard", "examGrades": [69, 80, 94]},
        {"name": "Isaac", "examGrades": [92, 99, 93]},
        {"name": "Alan", "examGrades": [92, 62, 72]}
    ],
    "isActive": true
}

Do your work in a python script, jupyter notebook, or interactive python (or ipython) session.

Import the json module and use the json.load function to read the bayes.json file you created.

In [86]:
from pprint import pprint
import json

with open('./bayes.json') as f:
    bayes = json.load(f)

pprint(bayes)

{'Floor': 6,
 'Instructors': [{'favoriteLanguages': ['python', 'clojure'], 'name': 'Ryan'},
                 {'favoriteLanguages': ['python', 'R', 'java'],
                  'name': 'Maggie'},
                 {'favoriteLanguages': ['python', 'matlab'], 'name': 'David'},
                 {'favoriteLanguages': ['python', 'bash'], 'name': 'Zach'}],
 'Location': 'Blanco',
 'Students': [{'examGrades': [62, 85, 80], 'name': 'Sally'},
              {'examGrades': [88, 79, 67], 'name': 'Jane'},
              {'examGrades': [94, 74, 95], 'name': 'Suzie'},
              {'examGrades': [98, 96, 88], 'name': 'Billy'},
              {'examGrades': [77, 92, 98], 'name': 'Ada'},
              {'examGrades': [79, 76, 93], 'name': 'John'},
              {'examGrades': [82, 64, 81], 'name': 'Thomas'},
              {'examGrades': [93, 63, 90], 'name': 'Marie'},
              {'examGrades': [92, 62, 87], 'name': 'Albert'},
              {'examGrades': [69, 80, 94], 'name': 'Richard'},
              {'examGrades': [92, 99, 93], 'name': 'Isaac'},
              {'examGrades': [92, 62, 72], 'name': 'Alan'}],
 'isActive': True}

Write the code necessary to answer the following questions:
- Print out a message that gives the location of the class using the location and the floor properties.
- If the class is active, print a message that says so.
- Print out the number of students and number of instructors.
- Print out the name of the instructor that has the most favorite languages.
- Import pandas and create a dataframe from the student data. What do you notice?

In [91]:
loc = bayes["Location"]
floor = bayes["Floor"]

print("The location of class is on {} and the floor is {}".format(loc, floor))

The location of class is on Blanco and the floor is 6

In [90]:
if bayes["isActive"]:
    print("The class is active.")

The class is active.

In [96]:
n_instructors = len(bayes["Instructors"])
n_student = len(bayes["Students"])
print("The number of instructors is {} and the number of students is {}".format(n_instructors, n_student))

The number of instructors is 4 and the number of students is 12

In [97]:
instructors = bayes["Instructors"]
instructors

[{'name': 'Ryan', 'favoriteLanguages': ['python', 'clojure']},
 {'name': 'Maggie', 'favoriteLanguages': ['python', 'R', 'java']},
 {'name': 'David', 'favoriteLanguages': ['python', 'matlab']},
 {'name': 'Zach', 'favoriteLanguages': ['python', 'bash']}]

In [104]:
for instructor in instructors:
    n_fav_lang = len(instructor["favoriteLanguages"])
    instructor["n_favorite_language"] = n_fav_lang

In [114]:
instructors

[{'name': 'Ryan',
  'favoriteLanguages': ['python', 'clojure'],
  'n_favorite_language': 2},
 {'name': 'Maggie',
  'favoriteLanguages': ['python', 'R', 'java'],
  'n_favorite_language': 3},
 {'name': 'David',
  'favoriteLanguages': ['python', 'matlab'],
  'n_favorite_language': 2},
 {'name': 'Zach',
  'favoriteLanguages': ['python', 'bash'],
  'n_favorite_language': 2}]

In [116]:
max(instructors, key=lambda instructor: instructor["n_favorite_language"])

{'name': 'Maggie',
 'favoriteLanguages': ['python', 'R', 'java'],
 'n_favorite_language': 3}

In [118]:
import pandas as pd

df = pd.DataFrame(bayes["Students"])
grades = df.examGrades.apply(pd.Series)
df.join(grades)

      examGrades     name   0   1   2
0   [62, 85, 80]    Sally  62  85  80
1   [88, 79, 67]     Jane  88  79  67
2   [94, 74, 95]    Suzie  94  74  95
3   [98, 96, 88]    Billy  98  96  88
4   [77, 92, 98]      Ada  77  92  98
5   [79, 76, 93]     John  79  76  93
6   [82, 64, 81]   Thomas  82  64  81
7   [93, 63, 90]    Marie  93  63  90
8   [92, 62, 87]   Albert  92  62  87
9   [69, 80, 94]  Richard  69  80  94
10  [92, 99, 93]    Isaac  92  99  93
11  [92, 62, 72]     Alan  92  62  72